<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <img
      src="/img/account-avatar-profile-user-11.svg"
      height="100px"
      width="100px"
    />
    {{>footer}}

  </body>
</html>