<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
    <script src="/js/client.js" defer> </script>
  </head>
  <body>
    {{>header}}

    <main>
      <p>Use this site to get your weather!</p>
      <form id="weatherForm">
        <label for="cityInput">Enter a city:</label>
        <input type="text" id="cityInput" name="city" required placeholder="Location" />
        <button type="submit">Get Weather</button>
      </form>
      <p id="forecastInfo"></p>
      <p id="errorMessage"></p>
      <p id="loadingMessage" style="display: none;">Loading...</p>
    </main>

    {{>footer}}
  </body>
</html>